/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: calc(15px + 0.390625vw);
}

a {
    color: black;
    text-decoration: none;
}

ul.com-bolinha {
    list-style-type: disc;
    padding-left: 20px;
}

/* =================== CONFIGURAÇÃO GERAL =================== */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, #254368, #0f1c29, #030a1d);
    background-size: 300% 300%;
    /* Tamanho do fundo alterado */
    animation: gradientBackground 30s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*==================== HEADER ========================*/
header {
    top: 0;
    width: 100%;
    padding: 1rem 9%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    /* Ajuste a opacidade para melhor efeito */
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* Garante que o padding não afete a largura */
    position: fixed;
}

.logo {
    font-size: 2rem;
    color: #6495ED;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5 ease;
    font-family: 'Dancing Script', cursive;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    margin-right: 7vw;
}

nav a {
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-left: 4rem;
}

nav a:hover,
nav a.active {
    color: #6495ED;
    border-bottom: 3px solid #6495ED;
}

/* =================== APRESENTAÇÃO =================== */
.apresentacao {
    text-align: center;
    margin: 20vw 0;
    overflow: hidden;
}

.test {
    font-size: 2.5rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    background: linear-gradient(45deg, rgb(70, 130, 180), rgb(100, 149, 237), rgb(135, 206, 250), rgb(70, 130, 180));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate, leFadeInRight 3s forwards !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.apresentacao h2 {
    margin-bottom: 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.word {
    display: inline-block;
}

.letter {
    margin: 0 -0.0.5vw;
    transition: color 0.3s ease;
    display: inline;
}

.letter:hover {
    color: #6495ED;
}

/* =================== ANIMAÇÃO FADE =================== */
.leFadeInRight h2,
.leFadeInRight div.test,
.leFadeInRight ul {
    animation: leFadeInRight 3s forwards;
}

@keyframes leFadeInRight {
    from {
        opacity: 0;
        transform: translateX(60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* =================== ÍCONES =================== */
.apresentacao ul {
    display: flex;
    justify-content: center;
}

.apresentacao ul li {
    margin: 1vw 0.5vw;
}

.apresentacao ul li a i {
    position: relative;
    color: white;
    font-size: 2vw;
    display: inline-block;
    overflow: hidden;
}

.apresentacao ul li a i::after {
    content: "";
    position: absolute;
    left: -120%;
    top: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(to right, rgba(173, 216, 230, 0.3), rgba(135, 206, 250, 0.3));

    transition: left 1s ease-out;
    border-radius: 0.2vw;
}

.apresentacao ul li a:hover i::after {
    left: 100%;
}

/* =================== ANIMAÇÃO DE MOVIMENTO =================== */
span.animacaoIcon {
    display: inline-block;
    animation: animacaoIcon 2s ease-in-out infinite;
}

@keyframes animacaoIcon {

    from,
    to {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}

ul li:nth-child(1) span.animacaoIcon {
    animation-delay: 0s;
}

ul li:nth-child(2) span.animacaoIcon {
    animation-delay: 0.5s;
}

ul li:nth-child(3) span.animacaoIcon {
    animation-delay: 1s;
}

/* =================== MINHA PESSOA =================== */
.minhaPessoa {
    background-color: rgba(0, 0, 0, 0.5);
    color: grey;
    display: flex;
    justify-content: center;
}

.minhaPessoa div {
    margin: 7vw 3vw;
}

.minhaPessoa div img {
    width: 20vw;
    height: 20vw;
    max-width: 100%;
    border-radius: 10vw;
    object-fit: cover;
    animation: paracimaeparabaixo 3s ease-in-out infinite;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);

}

@keyframes paracimaeparabaixo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.minhaPessoa div h2 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    word-spacing: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.minhaPessoa div h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.minhaPessoa div h3 span {
    font-weight: bold;
    color: #a0a0a0;
}

.minhaPessoa div ul {
    margin-top: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.minhaPessoa div ul li {
    margin: 1vw 0;
}

/* =================== BOTÃO =================== */
.minhaPessoa div a button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.7vw 2vw;
    border-radius: 0.8vw;
    margin-top: 1vw;
    border: 1px solid #ffffff;
    transition: background-color 0.7s ease, transform 0.7s ease;
}

.minhaPessoa div a button i {
    margin-left: 0.5vw;
}

.minhaPessoa div a button:hover {
    background-color: white;
    color: black;
}

.minhaPessoa div a button:hover:active {
    transform: translateX(-10px);
}

.minhaPessoa div a button:hover i {
    animation: moveIcon 2s ease-in-out infinite;
}

@keyframes moveIcon {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/*                        TITULO DOS PROJETOS                              */
.projetos {
    background: inherit;
    /* Herda o fundo do body */
    padding: 50px 0;
}

.titulos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    margin: 0 0 1vw 0;


}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    /* Texto grande para cobrir toda a tela */
    width: 100%;
    /* Faz o texto ocupar toda a largura */
    text-align: center;
    color: rgba(152, 217, 255, 0.01);
    /* Branco com opacidade */
    font-weight: bold;
    z-index: 0;
    font-family: Verdana, sans-serif;
    user-select: none;
    /* Impede a seleção do texto */
}

.frente {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* Garante que fiquem um abaixo do outro */
    align-items: center;

}

/* Texto principal */
.foreground-text {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px 0;
    /* Dá um espaçamento entre os textos */
    font-size: 3.5vw;
}

/* Estilos para o subtítulo (h3) */
h3 {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: grey;
    text-align: center;
    margin: 10px 0;
    /* Dá um espaçamento entre os textos */
}

/*                    PROJETOS                      */
/*                     PROJETOS LINHA 1              */
/* GERAL */
.projetos ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projetos img {
    animation: paracimaeparabaixo 3s ease-in-out infinite;
}

/*geral linha 1*/
.projetos ul.um {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

/*alimen*/
.projetos ul li.alimentacaoEqui {
    margin: 0 4vw 0 0;
}

li.alimentacaoEqui h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

li.alimentacaoEqui h2 {
    text-align: center;
    color: grey;
    margin-top: 0.5vw;
}

/*ICONES EQUI*/
.alimentacaoEqui div.icones {
    text-align: center;
}

.alimentacaoEqui i {
    font-size: 1.5rem;
    margin: 1vw 0.1vw 0 0.1vw;
}

.alimentacaoEqui .fa-html5 {
    color: #e34f26;
}

.alimentacaoEqui .fa-js {
    color: #f7df1e;
}


.alimentacaoEqui .fa-css {
    color: #264de4;
}

/*naosei*/
.projetos ul li.naosei {
    margin: 0 0 0 4vw;
}

li.naosei h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

li.naosei h2 {
    text-align: center;
    color: grey;
    margin-top: 0.5vw;
}

/*ICONES EQUI*/
.naosei div.icones {
    text-align: center;
}

.naosei i {
    font-size: 1.5rem;
    margin: 1vw 0.1vw 0 0.1vw;
}

.naosei .fa-html5 {
    color: #e34f26;
}

.naosei .fa-js {
    color: #f7df1e;
}

.naosei .fa-css {
    color: #264de4;
}

/*                     PROJETOS LINHA 2              */
/*geral linha 2*/
.projetos ul.dois {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

/*nao sei 1 linha 2*/
.projetos ul li.naoseiUmDois {
    margin: 0 4vw 0 0;
}

li.naoseiUmDois h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

li.naoseiUmDois h2 {
    text-align: center;
    color: grey;
    margin-top: 0.5vw;
}

/*ICONES NAOSEI 1 linha 2*/
.naoseiUmDois div.icones {
    text-align: center;
}

.naoseiUmDois i {
    font-size: 1.5rem;
    margin: 1vw 0.1vw 0 0.1vw;
}

.naoseiUmDois .fa-html5 {
    color: #e34f26;
}

.naoseiUmDois .fa-js {
    color: #f7df1e;
}

.naoseiUmDois .fa-css {
    color: #264de4;
}

/*nao sei 1 linha 2*/
.projetos ul li.naoseiDoisDois {
    margin: 0 0 0 4vw;
}

li.naoseiDoisDois h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

li.naoseiDoisDois h2 {
    text-align: center;
    color: grey;
    margin-top: 0.5vw;
}

/*ICONES NAOSEI 2 LINHA 2*/
.naoseiDoisDois div.icones {
    text-align: center;
}

.naoseiDoisDois i {
    font-size: 1.5rem;
    margin: 1vw 0.1vw 0 0.1vw;
}

.naoseiDoisDois .fa-html5 {
    color: #e34f26;
}

.naoseiDoisDois .fa-js {
    color: #f7df1e;
}

.naoseiDoisDois .fa-css {
    color: #264de4;
}

/*=============================HABILIDADES TITULO=========================*/
.habilidades {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
}

.titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    margin: 0 0 1vw 0;
}

.titulo h1.textoFundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    width: 100%;
    text-align: center;
    color: rgba(152, 217, 255, 0.01);
    font-weight: bold;
    z-index: 0;
    font-family: Verdana, sans-serif;
    user-select: none;
}

.titulo h2.textoFrente {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-size: 3.5vw;
}

/*====================================HABILIDADES===============================*/
.habilidades ul {
    display: flex;
    margin: 7vw 0 0 0;
    justify-content: center;
    padding: 0;
    /* Remove o padding extra */
    list-style-type: none;
    /* Remove os marcadores */
}

.habilidades ul li {
    margin: 0 2vw;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2vw;
    width: 22vw;
    /* Defina uma largura fixa para todos os itens */
    height: 22vw;
    /* Defina uma altura fixa para garantir o mesmo tamanho */
    border-radius: 1.5vw;
    /* Bordas arredondadas para um efeito mais suave */
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* Garante que o padding não afete a largura e altura */
    transition: transform 0.3s ease-in-out;
    /* Efeito de transição */
    border: 1px solid gray;
    padding: 1vw;
    box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.1);

}

.habilidades ul li:hover {
    transform: scale(1.1) !important;
    /* Aumenta levemente o tamanho ao passar o mouse */
}

.habilidades ul li.html,
.habilidades ul li.js,
.habilidades ul li.css {
    color: white;
    /* A cor do texto pode ser ajustada conforme o fundo */
}

.habilidades ul li.html i,
.habilidades ul li.js i,
.habilidades ul li.css i {
    font-size: 2.5rem;
    margin-top: 1vw;

}

.habilidades ul li.html h2,
.habilidades ul li.js h2,
.habilidades ul li.css h2 {
    margin-top: 1vw;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.habilidades ul li.html p,
.habilidades ul li.js p,
.habilidades ul li.css p {
    margin-top: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: grey;
}


@media (max-width: 480px) {

    /*===================HEADER==================*/
    header {
        position: relative;
        position: sticky;
        /* Tornando o header fixo ao rolar a página */
    }

    nav {
        display: flex;
        flex-direction: column; /* Organiza a navegação em coluna no celular */
        align-items: center;    /* Centraliza os itens */
    }

    /*==========================APRESENTACAO=====================*/
    .apresentacao h2 {
        margin-bottom: 5vw;
        font-size: 2rem; /* Ajusta o tamanho do título */
    }

    .apresentacao ul li span i {
        font-size: 1.5rem; /* Ajusta o tamanho do ícone */
        margin: 1vw;
    }

    /*========================MINHAPESSOA=======================*/
    .minhaPessoa {
        display: flex;
        justify-content: center;
        /* Centraliza os itens horizontalmente */
        align-items: center;
        /* Centraliza os itens verticalmente */
        text-align: center;
        /* Centraliza o texto dentro dos divs */
        flex-direction: column;
        /* Coloca os itens em coluna (imagem em cima, texto embaixo) */
        height: auto;
        margin-bottom: 4vw; /* Ajusta o espaço inferior */
    }

    .minhaPessoa div img {
        width: 40vw; /* Ajuste o tamanho da imagem para o celular */
        height: 40vw;
        border-radius: 50%;
    }

    .minhaPessoa div ul li {
        text-align: left;
    }

    /*===========================PROJETOS========================*/
    /*titulo*/
   section.titulos div.titulo {
        max-width: 100%;
        overflow: hidden;
   }
    /* Centralizar as listas */
    ul.um, ul.dois {
        display: flex;
        justify-content: center;  /* Centraliza horizontalmente os itens */
        align-items: center;      /* Centraliza verticalmente os itens */
        flex-wrap: wrap;          /* Permite que os itens que não cabem na linha sejam movidos para a próxima */
        list-style-type: none;    /* Remove os marcadores da lista */
        padding: 0;               /* Remove o padding das listas */
        margin: 0;                /* Remove a margem das listas */
        width: 100%;              /* Garante que as listas ocupem toda a largura da tela */
    }

    ul.um li.alimentacaoEqui,
    ul.dois li.naoseiUmDois {
        margin: 5vw 2vw 5vw 2vw; /* Ajusta o espaçamento nas listas */
    }

    ul.um li.naosei,
    ul.dois li.naoseiDoisDois {
        margin: 5vw 2vw 5vw 2vw;
    }

    li img {
        margin-bottom: 10px;     /* Espaçamento entre a imagem e o título */
    }

    /*===========================HABILIDADES================================*/
    .habilidades ul li {
        margin: 0 4vw;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 4vw;
        width: 80vw;  /* Ajusta a largura para caber no celular */
        height: 40vw; /* Ajusta a altura para manter proporcional */
        border-radius: 3vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        border: 1px solid gray;
        padding: 2vw;
        box-shadow: 0px 0px 2vw rgba(255, 255, 255, 0.1);
    }

    .habilidades ul li.html i,
    .habilidades ul li.js i,
    .habilidades ul li.css i {
        margin-top: 3vw;
    }

    .habilidades ul li.html h2,
    .habilidades ul li.js h2,
    .habilidades ul li.css h2 {
        margin-top: 3vw;
    }

    .habilidades ul li.html p,
    .habilidades ul li.js p,
    .habilidades ul li.css p {
        margin-top: 3vw;
    }

}








/*testes*/
/*direita pra esquerda*/
.com-bolinha :nth-child(2) {
    transition-delay: 300ms;
}
.com-bolinha :nth-child(3) {
    transition-delay: 1000ms;
}
.com-bolinha :nth-child(4) {
    transition-delay: 2000ms;
}
.com-bolinha li, button, .alimentacaoEqui, .naoseiUmDois{
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease;
}

.show{
    animation: slideUpFromLeft 3s ease-out forwards;
}

@keyframes slideUpFromLeft {
    0% {
        transform: translate(20%, 10%); /* Posição inicial fora da tela (esquerda e abaixo) */
        opacity: 0;
    }
    100% {
        transform: translate(0, 0); /* Posição final (na posição original) */
        opacity: 1;
    }
}
/*esquerda pra direita*/
.naosei,
.naoseiDoisDois {
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease;
}
.showEsquerda {
    animation: esquerdaPraDireita 3s ease-out forwards;
}

@keyframes esquerdaPraDireita {
    0% {
        transform: translate(-20%, 10%); /* Posição inicial fora da tela (esquerda e abaixo) */
        opacity: 0;
    }
    100% {
        transform: translate(0, 0); /* Posição final (na posição original) */
        opacity: 1;
    }
}

/* Estado inicial dos itens */
.html, .js, .css {
    opacity: 0;
    filter: blur(15px); /* Desfoque inicial */
    transform: translateX(-100%); /* Começa fora da tela */
    transition: all 0.5s ease; /* Adiciona transição para o hover */
}

/* Quando a classe showHabilidade é adicionada, anima as habilidades */
.showHabilidade {
    filter: blur(0); /* Remove o desfoque */
    transform: translateX(0); /* Move para a posição original */
    animation: entradaDinamica 2s ease-out forwards; /* Aplica animação com 2 segundos */
}

/* Animação para a entrada dos elementos */
@keyframes entradaDinamica {
    0% {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

/* Hover - efeito de interação */
.html:hover, .js:hover, .css:hover {
    transform: translateY(-10px); /* Move ligeiramente para cima */
    transition: transform 0.3s ease-out; /* Transição suave */
}

/* Ajustando os filhos para animar com o delay desejado */
.habilidades li:nth-child(1) {
    animation-delay: 0.5s; /* Ajuste o tempo de delay se necessário */
}

.habilidades li:nth-child(2) {
    animation-delay: 1s;
}

.habilidades li:nth-child(3) {
    animation-delay: 1.5s;
}
@media (max-width: 768px) {

    /*===================HEADER==================*/
    header {
        position: relative;
        position: sticky;
        /* Tornando o header fixo ao rolar a página */
    }

    nav {
        display: flex;
    }

    /*==========================APRESENTACAO=====================*/
    .apresentacao h2 {
        margin-bottom: 3vw;
    }

    .apresentacao ul li span i {
        font-size: 2rem;
        margin: 1vw;
    }

    /*========================MINHAPESSOA=======================*/
    .minhaPessoa {
        display: flex;
        justify-content: center;
        /* Centraliza os itens horizontalmente */
        align-items: center;
        /* Centraliza os itens verticalmente */
        text-align: center;
        /* Centraliza o texto dentro dos divs */
        flex-direction: column;
        /* Coloca os itens em coluna (imagem em cima, texto embaixo) */
        height: auto;
        /* Certifica que o contêiner ocupa apenas o necessário */
        margin-bottom: -2vw;

    }

    .minhaPessoa div img {
        width: 30vw;
        /* Ajuste o tamanho da imagem conforme necessário */
        height: 30vw;
        border-radius: 50%;
    }

    .minhaPessoa div ul li {
        text-align: left;
    }

    /*===========================PROJETOS========================*/
    /*titulo*/
    /* Centralizar as listas */
    ul.um, ul.dois {
        display: flex;
        justify-content: center;  /* Centraliza horizontalmente os itens */
        align-items: center;      /* Centraliza verticalmente os itens */
        flex-wrap: wrap;          /* Permite que os itens que não cabem na linha sejam movidos para a próxima */
        list-style-type: none;    /* Remove os marcadores da lista */
        padding: 0;               /* Remove o padding das listas */
        margin: 0;                /* Remove a margem das listas */
        width: 100%;              /* Garante que as listas ocupem toda a largura da tela */
    }
    ul.um li.alimentacaoEqui,
    ul.dois li.naoseiUmDois {
        margin: 3vw 1vw 3vw 1vw;
    }
    ul.um li.naosei,
    ul.dois li.naoseiDoisDois{
        margin: 3vw 1vw 3vw 1vw;
    }
    li img {
        margin-bottom: 10px;     /* Espaçamento entre a imagem e o título */
    }
    /*===========================HABILIDADES================================*/

    .habilidades ul li {
        margin: 0 2vw;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2vw;
        width: 60vw;
        /* Defina uma largura fixa para todos os itens */
        height: 50vw;
        /* Defina uma altura fixa para garantir o mesmo tamanho */
        border-radius: 1.5vw;
        /* Bordas arredondadas para um efeito mais suave */
        text-align: center;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* Garante que o padding não afete a largura e altura */
        transition: transform 0.3s ease-in-out;
        /* Efeito de transição */
        border: 1px solid gray;
        padding: 1vw;
        box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.1);
    
    }
    .habilidades ul li.html i,
.habilidades ul li.js i,
.habilidades ul li.css i {
    margin-top: 2vw;

}

.habilidades ul li.html h2,
.habilidades ul li.js h2,
.habilidades ul li.css h2 {
    margin-top: 2vw;
}

.habilidades ul li.html p,
.habilidades ul li.js p,
.habilidades ul li.css p {
    margin-top: 2vw;
}

}


@media (max-width: 480px) {

    /*===================HEADER==================*/
    header {
        position: sticky;
    }

    nav {
        display: flex;
    }

    /*==========================APRESENTACAO=====================*/
    .apresentacao h2 {
        margin-bottom: 5vw;
    }

    .apresentacao ul li span i {
        font-size: 1.8rem;
        margin: 2vw;
    }

    /*========================MINHAPESSOA=======================*/
    .minhaPessoa {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: auto;
        margin-bottom: -3vw;
    }

    .minhaPessoa div img {
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
    }

    .minhaPessoa div ul li {
        text-align: left;
    }

    /*===========================PROJETOS========================*/
    ul.um, ul.dois {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    ul.um li.alimentacaoEqui,
    ul.dois li.naoseiUmDois,
    ul.um li.naosei,
    ul.dois li.naoseiDoisDois {
        margin: 5vw 2vw;
    }

    li img {
        margin-bottom: 8px;
        width: 100vw;
    }

    /*===========================HABILIDADES================================*/
    section.habilidades {
        background-color: #0f1c29;
    }
    .habilidades ul li {
        margin: 4vw 0; /* Reduzindo a margem para evitar estouro */
        background-color: rgba(0, 0, 0, 0.3);
        width: 80vw;
        max-width: 90%; /* Para garantir que não ultrapasse a tela */
        height: auto; /* Ajusta conforme o conteúdo */
        border-radius: 2vw;
        text-align: center;
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        border: 1px solid gray;
        padding: 4vw;
        box-shadow: 0px 0px 2vw rgba(255, 255, 255, 0.1);
    }
    .habilidades ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}